.file-tree {
    max-height: 80vh;
    overflow-y: auto;
    padding-left: 20px;
}

.file-tree ul {
    list-style-type: none;
}

.folder {
    cursor: pointer;
    font-weight: bold;
}

.folder:hover {
    text-decoration: underline;
}
